Core/stencil/parser/string/*.java
Core/stencil/parser/string/*.tokens
Core/stencil/parser/string/validators/*
.metadata/.log
.metadata/.lock
.metadata/.plugins/*
.metadata/version.ini
bin/
temp/
TestData/StencilExplore.stencil
TestData/ExploreSession.properties
testResults/*
lastBuild.txt
*.zip
REVLSave.stencil
